@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap");
.App {
  height: 100%;
}
.background {
  background-color: #ccf9ff;
}

.header {
  background-color: #343a40;
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: "BenchNine", sans-serif;
  margin-bottom: 0px !important;
  border-bottom: solid #ccf9ff 1px;
}

.nav {
  margin-top: 0px;
}

.footer {
  background-color: #343a40;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-top: 50px;
  margin: 0px;
  margin-top: 1000px;
  padding-bottom: 50px;
}

p {
  margin-bottom: 0 !important;
}

.whr {
  color: white;
  border-bottom: solid #ccf9ff 1px;
}
