/*This is the main font used throughout the website */
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap");

.App {
  height: 100%;
}

.body {
  padding-top: 80px;
}

.background {
  background-color: #1f1f1f;
}

/*This is the formatting and colour for the logo of the website*/
.header {
  background-color: #d980d6;
  color: white;
  font-family: "BenchNine", sans-serif;
  border-bottom: solid #fe019a 1px;
}

.nav {
  margin-top: 0px;
  margin-bottom: 57px;
  background-color: #1f1f1f;
  opacity: 0.9;
  font-family: "BenchNine", sans-serif;
  font-size: 2rem;
}

.nav p {
  opacity: 1 !important;
}

.footer {
  background-color: #343a40;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-top: 50px;
  margin: 0px;
  margin-top: 200px;
  padding-bottom: 50px;
}

p {
  margin-bottom: 0 !important;
}

/* These are the is the formatting for the horizontal rules throughout the page */
.hrp {
  border-bottom: solid #fe019a 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

.hrt {
  border-bottom: solid #fe019a 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner {
  color: white;
  font-family: "BenchNine", sans-serif;
  margin-bottom: 30px;
}
.banner h1 {
  font-size: 4rem;
  text-align: center;
}

.banner p {
  font-size: 3rem;
}

.nav-buttons {
  text-align: center;
  font-size: 2rem;
  font-family: "BenchNine", sans-serif;
}

.nav-buttons a:hover {
  background-color: #d980d6;
  border: solid #fe019a 3px;
  color: white;
  text-decoration: none;
}

.nav-buttons a {
  border: solid white 1px;
  padding: 15px;
  color: white;
  transition: 1s;
  margin-bottom: 50px;
}

.Buttons {
  margin-bottom: 50px;
}

.large-text {
  font-size: 2rem;
  font-family: "BenchNine", sans-serif;
  color: white;
}
.medium-text {
  font-size: 1.5rem;
  font-family: "BenchNine", sans-serif;
  color: white;
}

.mauto {
  margin: auto;
}

.qaboxes {
  margin-bottom: 30px;
}

.form-label {
  border-bottom: solid 1px #fe019a;
  width: 100%;
}

.form-input {
  width: 100%;
  background-color: #f7e4f5;
}

.form-button {
  width: 100%;
  background-color: #d980f0;
  color: white;
  border-radius: 5px;
  font-size: 1.8rem;
}

.form-button:hover {
  border: solid 2px #fe019a;
  transition-duration: 2.5s;
  border-radius: 10px;
}

.border-pink {
  border-bottom: solid 1px #fe019a;
}

.nostyle-link {
  color: white;
}

.nostyle-link:hover {
  color: #fe019a;
}

.portrait_photo {
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  opacity: 70%;
  border-left: solid 3px #fe019a;
  border-top: solid 3px #fe019a;
}

.center {
  text-align: center;
}

.shade-box {
  background-color: #7a5977;
  border: solid #1f1f1f 5px;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 35px;
  opacity: 95%;
}

/*This is the styling for the bubbles behind the text on the portfolio and about page */
.shade-box:hover {
  opacity: 100%;
  transition: 1s;
}

.shade-box-green {
  background-color: #66597a !important;
}

.icon {
  color: white;
  opacity: 75%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

/*Styling for the images on the portfolio page */
.portrait_port {
  height: 500px;
}
.landscape_port {
  padding-top: 125px;
  width: 100%;
}
.landscape_port_2 {
  width: 100%;
}

.showcase {
  height: 500px;
  text-align: center;
  margin: auto;
}

/*Applies a lil bit of padding u know */
.lil-padding {
  padding: 5px;
}

/*Styling for the not yet finished blog */
.blog-mini:hover {
  background-color: #404040;
  transition: 1s;
}

.blog-mini-image {
  margin: 5px;
  width: 80%;
}

@media (max-width: 600px) {
  .blog-mini {
    text-align: center;
  }
}
